@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
img.logo {
    background-image: url(https://raw.githubusercontent.com/data-cfwb/charte-graphique/refs/heads/main/custom_css/data_dbt.png);
    background-repeat: no-repeat;
    background-color: transparent;
    
    /* Define the size of the container */
    width: 140px !important;
    height: 46px !important;
    
    /* Control the size of the background image */
    background-size: contain; /* Scales the image to fit the container */
    background-position: center; /* Centers the image in the container */
}

body {
  font-family: 'Source Sans Pro' !important;
  font-size: 15px !important;
}
h1, h2, h3, h4, h5, h6, {
    font-family: 'Source Sans Pro';
    font-weight: bold;
}
p {
  font-family: 'Source Sans Pro';
  font-size: 15px !important;
}
code {
  font-size: 14px !important;
  color: #6666c4 !important;
}
.btn-info {
    background-color: #6666c4 !important;
}
.form-control:focus {
    box-shadow: 0 0 0 2px #6666c4, 0 15px 15px -7.5px rgba(0,0,0,0.15) !important;
}
.a {
    color: #6666c4 !important;
}
.app-content p {
    color: #1f1f1f;
}
.app-content a {
    color: #6666c4 !important;
}

.menu a.menu-node.active:not(.not-active) {
    color: #6666c4 !important;
}
.menu a {
    color: #1f1f1f !important;
}
.tooltip {
    background-color: #6666c4 !important;
}
.launcher-window {
    background-color: #0f4d66 !important;
}
.bg-navy {
    background-color: #0f4d66 !important;
}
.text-navy-lightest {
    color: #367cc2 !important;
}
